@media (max-width: 480px) {
  .book-list-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 1rem !important;

    img {
      width: 100% !important;
    }
    .book-container {
      width: 100% !important;
    }

    .search-container {
      width: 110% !important;
      margin: 0;
    }
  }
}
