@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: "0.5rem 1.5rem !important";
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.remove-button:hover {
  background-color: #f76534c2 !important;
}
